.item {
  display: flex;
  position: relative;

  background-color: #181818;
  border-radius: 1rem;
  overflow: hidden;

  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.item div {
  padding: 0.4rem 0.8rem;
}

.item h4 {
  color: #999;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.item p {
  color: #777;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn {
  display: none;
}

.item:hover .btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  color: #777;
  border: none;

  position: absolute;
  right: 4px;
  bottom: 4px;

  transition: all 0.2s;
}

.item:hover .close-btn:hover {
  cursor: pointer;
  color: red;
}
.item:hover .add-btn:hover {
  cursor: pointer;
  color: green;
}
